.container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.card{
    margin: 30px;
    height: auto;
    width: auto;
}

.ultimo {
    color:white;
    background-color: black;
}
